/* SITE-HEADER SITE-NAV */

.site-header .site-nav {

    .menu-button {
        position: absolute;
        top: 1.25em;
        right: 1em;
        color: white;
        margin: 0;
        font-size: 1.5rem;
        line-height: 1;
        z-index: 20;
        cursor: pointer;

        svg {
            fill: white;

            rect {
                transition: 300ms ease-out;
            }
        }

    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: rgba(0, 51, 0, .9);
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translate(0, 100%);
        transition: all 350ms ease-out;
    }

    li {
        font-size: 8vw;
        min-width: 30vw;
        transform: translate(0, -10%);
        transition: all 300ms ease-out 500ms;
        opacity: 0;
    }

    &[data-navstate="open"] {

        .menu-button {
            position: fixed;
        }

        #bar-top {
            transform-origin: center;
            transform: translate(7px, 7px) rotate(-45deg);
        }

        #bar-middle {
            opacity: 0;
        }

        #bar-botton {
            transform-origin: center;
            transform: translate(0, -4px) rotate(45deg);
        }

        ul {
            transform: translate(0, 0);
        }

        li {
            transform: translate(0, 0);
            opacity: 1;
        }
    }

}

/* FOOTER SITE NAV */

.site-footer .site-nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
    }

    a {
        display: inline-block;
        padding: 0 1em;
        line-height: 1;
    }
}